[Desktop Entry]
Version=1.0
Name=LinuxTrack Wii Server
Comment=Wiimote proxy server for LinuxTrack head tracking
Exec=/opt/linuxtrack/bin/wii_server
Icon=linuxtrack-wii
Terminal=false
Type=Application
Categories=Game;Network;System;
StartupNotify=true
Keywords=headtracking;wiimote;nintendo;tracking;server;

